html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* extend the coop css grid layout */
.grid__item--centered {
  display: flex;
  justify-content: center;
}

.coop-t-lead-p--no-margin {
  margin-bottom: 0;
}
